// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');

h1, h2, .site-title {

  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  margin-bottom: 2px;
  
}

img {

  border-radius: 3px;

}

.gridbox {
    line-height: 0.2rem;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 1rem;
    column-gap: 8px;
    column-count: 1;
    justify-content: center;
}

  @media screen and (min-width: $on-large) {
    .gridbox {
       column-count: 4;
    }
  }

  @media screen and (min-width: $on-medium) {
    .gridbox {
       column-count: 3;
    }
  }

.gridbox > img {
  margin-bottom: 8px;
}
