// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');
h1,
h2,
.site-title {
    font-family: 'Source Serif Pro', serif;
    color: $accent-color;
    font-weight: bold;
    margin-bottom: 2px;
}

img {
    border-radius: 3px;
}

.bird {
    width: 40%;
    margin: auto;
}

a,
a:visited,
.page-link,
.page-link:visited,
.site-title,
.site-title:visited {
    color: $accent-color;
}

.site-header {
    border-top: 5px solid $accent-color;
}

.button,
.button:link,
.button:visited {
    font-size: 1.3rem;
    width: max-content;
    margin: .75rem .5rem .75rem 0;
    padding: .3rem .75rem .3rem .75rem;
    border-radius: 4px;
    background-color: $accent-color;
    color: $body-color;
    text-decoration: none;
}

.button:hover,
.button:active {
    background-color: $accent-color-light;
}

.gridbox {
    line-height: 0.2rem;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: $spacing-unit;
    column-gap: $spacing-unit * .5;
    column-count: 1;
    justify-content: center;
}

@media screen and (min-width: $on-large) {
    .gridbox {
        column-count: 4;
    }
}

@media screen and (min-width: $on-medium) {
    .gridbox {
        column-count: 3;
    }
}

.gridbox>p>img {
    margin-bottom: $spacing-unit * .5;
}

#picmodal {
    display: none;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #2b2b2bcc;
    justify-content: center;
    align-items: center;
}

#focusedImg {
    margin: auto;
    width: 85%;
    height: 85%;
    object-fit: contain;
}

#x {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    z-index: 12;
}