// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: 'Source Sans Pro',
sans-serif;
$lm-brand-color: #C9C49C;
$lm-brand-color-light: lighten($lm-brand-color, 40%);
$lm-brand-color-dark: darken($lm-brand-color, 25%);
$lm-site-title-color: $lm-brand-color-dark;
$lm-text-color: #2e2e2e;
$lm-background-color: #C9C49C;
$lm-code-background-color: #eeeeff;
$lm-link-base-color: #2e2e2e;
$lm-link-visited-color: darken($lm-link-base-color, 15%);
$lm-link-hover-color: $lm-text-color;
$lm-border-color-01: $lm-brand-color-light;
$lm-border-color-02: lighten($lm-brand-color, 35%);
$lm-border-color-03: $lm-brand-color-dark;
$lm-table-text-color: lighten($lm-text-color, 18%);
$lm-table-zebra-color: lighten($lm-brand-color, 46%);
$lm-table-header-bg-color: lighten($lm-brand-color, 43%);
$lm-table-header-border: lighten($lm-brand-color, 37%);
$lm-table-border-color: $lm-border-color-01;
// Dark mode
// ---------
$dm-brand-color: #C9C49C;
$dm-brand-color-light: lighten($dm-brand-color, 5%);
$dm-brand-color-dark: darken($dm-brand-color, 35%);
$dm-site-title-color: $dm-brand-color-light;
$dm-text-color: #C9C49C;
$dm-background-color: #2e2e2e;
$dm-code-background-color: #212121;
$dm-link-base-color: #C9C49C;
$dm-link-visited-color: $dm-link-base-color;
$dm-link-hover-color: $dm-text-color;
$dm-border-color-01: $dm-brand-color-dark;
$dm-border-color-02: $dm-brand-color-light;
$dm-border-color-03: $dm-brand-color;
$dm-table-text-color: $dm-text-color;
$dm-table-zebra-color: lighten($dm-background-color, 4%);
$dm-table-header-bg-color: lighten($dm-background-color, 10%);
$dm-table-header-border: lighten($dm-background-color, 21%);
$dm-table-border-color: $dm-border-color-01;