// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: 'Source Sans Pro',
sans-serif;
$lm-brand-color: #C9C49C !default;
$lm-brand-color-light: lighten($lm-brand-color, 40%) !default;
$lm-brand-color-dark: darken($lm-brand-color, 25%) !default;
$lm-site-title-color: $lm-brand-color-dark !default;
$lm-text-color: #2e2e2e !default;
$lm-background-color: #C9C49C !default;
$lm-code-background-color: #eeeeff !default;
$lm-link-base-color: #2e2e2e !default;
$lm-link-visited-color: darken($lm-link-base-color, 15%) !default;
$lm-link-hover-color: $lm-text-color !default;
$lm-border-color-01: $lm-brand-color-light !default;
$lm-border-color-02: lighten($lm-brand-color, 35%) !default;
$lm-border-color-03: $lm-brand-color-dark !default;
$lm-table-text-color: lighten($lm-text-color, 18%) !default;
$lm-table-zebra-color: lighten($lm-brand-color, 46%) !default;
$lm-table-header-bg-color: lighten($lm-brand-color, 43%) !default;
$lm-table-header-border: lighten($lm-brand-color, 37%) !default;
$lm-table-border-color: $lm-border-color-01 !default;
// Dark mode
// ---------
$dm-brand-color: #C9C49C !default;
$dm-brand-color-light: lighten($dm-brand-color, 5%) !default;
$dm-brand-color-dark: darken($dm-brand-color, 35%) !default;
$dm-site-title-color: $dm-brand-color-light !default;
$dm-text-color: #C9C49C !default;
$dm-background-color: #2e2e2e !default;
$dm-code-background-color: #212121 !default;
$dm-link-base-color: #C9C49C !default;
$dm-link-visited-color: $dm-link-base-color !default;
$dm-link-hover-color: $dm-text-color !default;
$dm-border-color-01: $dm-brand-color-dark !default;
$dm-border-color-02: $dm-brand-color-light !default;
$dm-border-color-03: $dm-brand-color !default;
$dm-table-text-color: $dm-text-color !default;
$dm-table-zebra-color: lighten($dm-background-color, 4%) !default;
$dm-table-header-bg-color: lighten($dm-background-color, 10%) !default;
$dm-table-header-border: lighten($dm-background-color, 21%) !default;
$dm-table-border-color: $dm-border-color-01 !default;