<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <div class="game-page-cover">
                <img src="{{ page.cover }}">
                <div>
                    <h1>{{ page.title }}</h1>
                    <h2>{{ page.tools }}</h2>
                    <h3>{{ page.roles }}</h3>
                </div>
            </div>{{ content }}{% include image-gallery.html folder=page.directory %}
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>