<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}
    <img id="x" src="images/x.svg" alt="close" onclick="closeSlides()">
    <div id="picmodal">
        <img id="focusedImg" src="">
    </div>
    <main class="page-content" aria-label="Content">

        <div class="wrapper">
            <div class="gridbox">
                {{ content }}
            </div>
        </div>
    </main>

    {%- include footer.html -%}

</body>

<script>
    let slideShow = document.getElementById("picmodal");
    let closeButton = document.getElementById("x");
    let currentSlideshowArray;

    currentSlideshowArray = document.querySelectorAll("img.galleryimage");

    console.log(currentSlideshowArray)

    for (let i = 0; i < currentSlideshowArray.length; i++) {
        //childNodes[i].dataset.groupindex = i
        // currentSlideshowArray[i].onclick = "openSlides(i)"
        //dataset image url property should be child node's url attribute
        currentSlideshowArray[i].dataset.imageurl = currentSlideshowArray[i].src
    }

    function openSlides(imageUrl) {
        slideShow.style.display = "flex"
        let focusedImg = document.getElementById("focusedImg")
            //focusedImg.dataset.groupindex = arrayIndex
        focusedImg.src = imageUrl
        closeButton.style.display = "block"
    }

    // function openSlides(arrayIndex) {
    //     slideShow.style.display = "flex"
    //     let focusedImg = document.getElementById("focusedImg")
    //     focusedImg.dataset.groupindex = arrayIndex
    //     focusedImg.src = currentSlideshowArray[parseInt(arrayIndex)].dataset.imageurl
    //     closeButton.style.display = "block"
    // }

    function nextSlide(indexChange) {
        let focusedImg = document.getElementById("focusedImg")
        let newIndex = parseInt(focusedImg.dataset.groupindex)

        newIndex += indexChange
        focusedImg.dataset.groupindex = newIndex
        console.log(focusedImg.dataset.groupindex)

        focusedImg.src = currentSlideshowArray[newIndex % currentSlideshowArray.length]
    }

    function closeSlides() {
        slideShow.style.display = "none"
        closeButton.style.display = "none"
    }
</script>

</html>