<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <img id="x" src="images/x.svg" alt="close" onclick="closeSlides()">
        <div id="picmodal">
            <img id="focusedImg" src="" onclick="nextSlide(1)">
        </div>
        <div class="wrapper">
            <div class="gridbox">
                {{ content }}
            </div>
        </div>
    </main>

    {%- include footer.html -%}

</body>

<script>
    let slideShow = document.getElementById("picmodal")
    let closeButton = document.getElementById("x")
    let currentSlideshowArray = document.getElementsByClassName("gridbox").firstChild.childNodes;

    for (let i = 0; i < childNodes.length(); i++) {
        childNodes[i].dataset.groupindex = i
    }


    function openSlides(arrayName, arrayIndex) {
        slideShow.style.display = "flex"
        let focusedImg = document.getElementById("focusedImg")
        focusedImg.dataset.groupindex = arrayIndex
        focusedImg.src = currentSlideshowArray[arrayIndex]
        closeButton.style.display = "block"
    }

    function nextSlide(indexChange) {
        let focusedImg = document.getElementById("focusedImg")
        let newIndex = parseInt(focusedImg.dataset.groupindex)

        newIndex += indexChange
        focusedImg.dataset.groupindex = newIndex
        console.log(focusedImg.dataset.groupindex)

        focusedImg.src = currentSlideshowArray[newIndex % currentSlideshowArray.length]
    }

    function closeSlides() {
        slideShow.style.display = "none"
        closeButton.style.display = "none"
    }
</script>

</html>